---
name: Linting

on: # yamllint disable-line rule:truthy
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      linter:
        description: |
          The linter to run. Supported values: `js-lint`, `pre-commit`.
        required: false
        default: all
        type: choice
        options:
          - all
          - js-lint
          - pre-commit

permissions:
  contents: read

jobs:
  js-lint:
    name: JS Lint
    if: contains(fromJSON('["all", "js-lint"]'), github.event.inputs.linter || 'all')
    uses: fabasoad/reusable-workflows/.github/workflows/wf-js-lint.yml@main

  pre-commit:
    name: Pre-commit
    if: contains(fromJSON('["all", "pre-commit"]'), github.event.inputs.linter || 'all')
    uses: fabasoad/reusable-workflows/.github/workflows/wf-pre-commit.yml@main
    with:
      skip-hooks: "audit, build, lint, test"
